$background_color: #000000;
$body_color: #020202;
$headline_background: #070707;


$news_color: #EB005D;
$top_posts_color: #08849E;
$calendar_color: #ea6512;
$world_color: #898787;
$films_color: #ff0000;
$old_posts_color: #369d09;

$word_color: #EEDA18;

/*fonts color*/
$white_font: #ffffff;
$gray_font: #a8a8a8;