.old_posts {
    
    margin: 2rem 0;

    @mixin atSmall {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &--element {
        margin: 0.3rem 0;
        position: relative;
        background-color: #101010;

        @mixin atSmall {
            display: flex;
            flex-direction: column;
        }
        
        @mixin atLarge {
            display: flex;
        }
    }
    
    &--text {
        padding: 0.4rem 0.4rem;
        
        @mixin atLarge {
            padding: 0.2rem 0.4rem;
        }
    }
}